.isDone{
    font-weight: bold;
    opacity: 0.2;
}
.error{
    color: red;
    font-weight: bold;
}
.inputError{
    border: solid 1px red;
}
.activeFilter{
    background-color: gold;
}
.todo{
    background-color: darkseagreen;
    padding: 10px;
    border-radius: 5px;
}
