.isDone{
    font-weight: bold;
    opacity: 0.2;
}
.error{
    color: red;
    font-weight: bold;
}
.inputError{
    border: solid 1px red;
}
.activeFilter{
    background-color: gold;
}
.todo{
    display: flex;
    flex-direction: column;
    background-color: darkseagreen;
    padding: 10px;
    border: 2px solid green;
    border-radius: 5px;
}

.smartTitle{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}
.filterButtonArea{

    float: bottom;
    padding: 10px
}